.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.img {
  width: 100%;
  height: 100%;
  mix-blend-mode: color-dodge;
  object-fit: cover;
}

.imgContainer {
  height: 40vw;
  width: 40vw;
  background: #464042;
}

.head {
  font-size: 9rem;
  font-weight: bold;
  line-height: 1;
}

.headContainer {
  max-width: 50%;
  box-sizing: border-box;
  padding: 0 20px;
  border-right: 1px solid #111827;
}
