.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  mix-blend-mode: color-dodge;
  object-fit: cover;
}

.imgContainer {
  height: 40vw;
  width: 40vw;
  background: #383838;
}

.subText {
  font-size: 4rem;
  font-weight: 100;
  padding: 10px 0;
  box-sizing: border-box;
}

.headContainer {
  max-width: 50%;
  box-sizing: border-box;
  padding: 0 20px;
  border-right: 1px solid #111827;
}

.head {
  //color: #541388;
  font-size: 7rem;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  padding: 10px 0;
  box-sizing: border-box;
}
@media screen and (max-width: 898px){
  .subText {
    font-size: 3rem;
  }

  .head {
    font-size: 7rem;
  }

  .imgContainer {
    width: 100%;
  }

  .headContainer {
    max-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-right: none;
    text-align: center;
  }

  .container {
    flex-direction: column;
    justify-content: normal;
  }
}

@media screen and (max-width: 600px){
  .headContainer {
    max-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-right: none;
    text-align: center;
  }

  .container {
    flex-direction: column;
    justify-content: normal;
  }

  .head {
    font-size: 5rem;
  }

  .imgContainer {
    width: 100%;
  }

  .subText {
    font-size: 3rem;
  }
}
